@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
  }

